.tinder-cards {

}

.tinder-cards-container {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}

.card {
    position: relative;
    background-color: white;
    width: 600px;
    height: 50vh;
    padding: 20px;
    max-width: 50vh;
    box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.card > h3 {
    color: white;
    bottom: 0;
    margin: 10px;
    position: absolute;
}

.swipe {
    position: absolute;
}

.card-content {
    width: 100%;
    height: 100%;
}
