.swipe-button {
    position: fixed;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    bottom: 10vh;
}

.swipe-button > .MuiIconButton-root {
    background-color: white !important;
    box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.3) !important;
}

.swipe-button-replay {
    padding: 3vw !important;
    color: #f5b748 !important;
}

.swipe-button-left {
    padding: 3vw !important;
    color: #ec5e6f !important;

}

.swipe-button-star {
    padding: 3vw !important;
    color: #62b4f9 !important;
}

.swipe-button-right {
    padding: 3vw !important;
    color: #76e2b3!important;
}

.swipe-button-flash {
    padding: 3vw !important;
    color: #915dd1!important;
}